@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0070f3;
  --secondary: #1a1a1a;
}

@layer base {
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .text-primary {
    color: var(--primary);
  }
  
  .bg-secondary {
    background-color: var(--secondary);
  }
}
